<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../wwwroot/lib/bootstrap-5.0.0-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../wwwroot/css/site.css">
</head>
<body>
    <div class="container" style="background-color:black;">
        <div class="row">
            <div class="col-md-6 col-12" style="background-color: yellow;">
                a
            </div>
            <div class="col-md-6 col-12" style="background-color: green;">
            a</div>
        </div>
        <div class="col-12" style="background-color: blue;">
            <table class="table table-stripped">
                <thead>
                    <th>Test</th>
                </thead>
                <tbody>
                    <td>test</td>
                </tbody>
            </table>
        </div>
    </div>
    <script src="../wwwroot/js/script.js"></script>
</body>
</html>