@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}

:root {
  --star-color: #ffcd00;
  --pogress-bar-color: #ffcd00;
  --text-color: #4eb6b3;
  --text-color-darker: #3b7a78;
  --body-bgcolor: #163c3b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
}

body {
  background-color: var(--body-bgcolor);
}

.container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 30px black;
  border-radius: 10px;
}
#feedbackHeader {
  margin-bottom: 20px;
  color: #b1b1b1;
  font-weight: bold;
}
#headerText {
  color: var(--text-color) !important;
  font-size: 30px;
  font-weight: bold;
}
#feedback-container {
  margin-bottom: 10px;
}
.progress {
  padding: 0px;
}
#total-customers {
  color: var(--text-color) !important;
  font-size: 30px;
  font-weight: bold;
}
#average-feedback-score {
  color: var(--text-color) !important;
  font-weight: bold;
  font-size: 30px;
}
.fa-star {
  color: var(--star-color) !important;
  letter-spacing: 4px;
}
.progress-bar {
  background-color: var(--pogress-bar-color) !important;
}
#table {
  margin-top: 20px;
}
.tableHeader {
  color: var(--text-color);
  transition: color 100ms ease-in;
  text-align: start;
  font-size: 25px;
  user-select: none;
}
.sortableHeader:hover {
  cursor: pointer;
  color: var(--text-color-darker);
  transition: color 100ms ease-in;
}
.progress {
  height: auto !important;
}
#star-feedback-container .row {
  margin-bottom: 5px;
}
.sortableHeader:hover {
  cursor: pointer;
  background-color: var(--text-color-darker);
  color: white;
  border-radius: 5px;
  transition: all 0.2s;
  border: none;
}
#filters-container {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  color: var(--text-color);
  font-size: 15px;
  text-align: start; /*textot da bide na sredina ili na sam start */
  font-weight: bold;
}

.form-select {
  outline: none;
  color: var(--text-color-darker);
  /* border: 1px solid var(--text-color-darker);   da ima ili da nema border inicinjalno??     */
  box-shadow: none;
}

.form-select:focus-visible {
  box-shadow: -0.5px -0.5px 2px var(--text-color-darker);
  outline: none;
  border: 0.5px solid var(--text-color);
  text-decoration: underline;
}

@media only screen and (max-width: 1199px) {
  #average-feedback-container {
    margin-top: 20px;
  }
}
