@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu/Ubuntu-Regular.ttf");
}

:root {
  --star-color: #ffcd00;
  --pogress-bar-color: #ffcd00;
  --text-color: #4eb6b3;
  --text-color-darker: #3b7a78;
  --body-bgcolor: #163c3b;
  --input-border-color: #4eb6b3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu";
}

body {
  background-color: var(--body-bgcolor);
}
.container {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 30px black;
  border-radius: 10px;
}
#page-title {
  margin-bottom: 20px;
  color: #b1b1b1;
  font-weight: bold;
}
#average-feedback-header {
  color: var(--text-color) !important;
  font-size: 30px;
  font-weight: bold;
}
#feedback-container {
  margin-bottom: 10px;
}
.progress {
  padding: 0px;
}
#total-customers {
  color: var(--text-color) !important;
  font-size: 30px;
  font-weight: bold;
}
#average-feedback-score {
  color: var(--text-color) !important;
  font-weight: bold;
  font-size: 30px;
}
.fa-star {
  color: var(--star-color) !important;
}
.progress-bar {
  background-color: var(--pogress-bar-color) !important;
}
#table {
  margin-top: 20px;
}
#table-body .fa-star{
  letter-spacing: 4px;
}
.table-header {
  color: var(--text-color);
  transition: color 100ms ease-in;
  text-align: start;
  font-size: 25px;
  user-select: none;
}
.sortable-header:hover {
  cursor: pointer;
  color: var(--text-color-darker);
  transition: color 100ms ease-in;
}
.progress {
  height: auto !important;
}
#star-feedback-container .row {
  margin-bottom: 5px;
}
.sortable-header:hover {
  cursor: pointer;
  background-color: var(--text-color-darker);
  color: white;
  border-radius: 5px;
  transition: all 0.2s;
  border: none;
}
#filters-container {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
}
#filters-container label{
  color: var(--text-color);
  font-size: 15px;
  font-weight: bold;
}
#filters-container > .row div{
  margin-top: 10px;
}
.form-select {
  outline: none;
  color: var(--text-color-darker);
  box-shadow: none;
  cursor: pointer;
}
.form-select:focus-visible {
  box-shadow: 0 0 5px var(--text-color-darker);
  border: 1px solid var(--input-border-color);
  color: var(--text-color-darker);
}

@media only screen and (max-width: 1199px) {
  #average-feedback-container {
    margin-top: 20px;
  }
}
